* {
    box-sizing: border-box;
}



.main-list {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.add-list {
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2px;
    background: #b0b8c0;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    color: white;
    margin-bottom: 2em;
}

.add-list:active {
    outline: none;
} 